body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(64, 90, 34);
    background-color: chocolate;
    font-family: fantasy;
}